
    <footer  class="parallax parallax_five footer" data-stellar-background-ratio="0.5">
        <div class="parallax_inner">
          <div class="container">
              <!--=========================
              Contact Form
              ===========================-->          
            <div class="contact_Us">
       		     <div id="tab1" class="tab-content active">   
                    <ul class="channels_list row animatedParent " data-sequence="400">
                      <li class="col-xs-12 col-sm-4 animated fadeInLeftShort" data-id="1"> <a href="#"><i class="fa fa-circular fa-music"></i>poison itunes</a></li>
                      <li class="col-xs-12 col-sm-4 animated fadeInLeft" data-id="2"><a href="#"><i class="fa fa-soundcloud"></i>poison soundcloud</a></li>
                      <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="3"> <a href="#"><i class="fa fa-youtube"></i>poison youtube</a></li>
                      <li class="col-xs-12 col-sm-4 animated fadeInLeft" data-id="4"> <a href="#"><i class="fa fa-instagram"></i>poison Instagram</a></li>
                      <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="5"> <a href="#"><i class="fa fa-flickr"></i>poison Flicker</a></li>
                      <li class="col-xs-12 col-sm-4  animated fadeInLeft" data-id="6"> <a href="#"><i class="fa fa-pinterest"></i>poison pinterest</a></li>
                    </ul>
                </div>
           
            </div>  
          	
            
            <div class="row">
              <div class="col-xs-12">
                <div class="copyrights">&copy; 2019 <a href="#">alice drive</a>.</div>
              </div>
            </div>
          </div><!--container--> 
        </div><!--parallax_inner--> 
      </footer><!--//parallax--> 