<!--Team/Band Members-->
      <section id="section_11" class="team_section">
        <div class="container overlayNews">
          <div class="row">
            <div class="col-xs-12">
              <div class="section_head_widget">
                <h2>poison band</h2>
                <h5>band biography</h5>
              </div>
            </div>
            <!--column--> 
          </div>
          <!--row--> 
        </div>
        <!--contaier-->
        <div class="team_widget">
          <div class="container controls_wrapper animatedParent ">
            <div class="carousel_controls"> <span id="member-prev" class="fa fa-angle-left animated fadeInLeft"></span> <span id="member-next" class="fa fa-angle-right animated bounceInRight"></span> </div>
            <!--controls--> 
          </div>
          <!--//controls_wrapper//carousel_overlay-->
          
          <div class="members_carousel animatedParent" data-sequence="400">
            <figure class="animated fadeInLeft" data-id="1"> <img src="img/member-1.jpg" alt=""/>
              <figcaption><a href="#">jackson peterson</a></figcaption>
            </figure>
            <figure class="animated fadeInLeft" data-id="2"> <img src="img/member-2.jpg" alt=""/>
              <figcaption><a href="#">willaims Adam Jonas</a></figcaption>
            </figure>
            <figure class="animated fadeInLeft" data-id="3"> <img src="img/member-3.jpg" alt=""/>
              <figcaption><a href="#">jacobs Jerry Jonas</a></figcaption>
            </figure>
            <figure class="animated fadeInLeft" data-id="4"> <img src="img/member-4.jpg" alt=""/>
              <figcaption><a href="#">michael Jonas II</a></figcaption>
            </figure>
            <figure class="animated fadeInLeft" data-id="5"> <img src="img/member-5.jpg" alt=""/>
              <figcaption><a href="#">david Tomlinson</a></figcaption>
            </figure>
          </div>
          <!--members_carousel--> 
        </div>
      </section>
      <div id="section_10" class="parallax parallax_four latest_tweets" data-stellar-background-ratio="0.5">
        <div class="parallax_inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12"> <span class="fa fa-twitter tweet_icon"></span>
                <div class="tweet"></div>
              </div>
              <!--column--> 
            </div>
            <!--row--> 
          </div>
          <!--container--> 
        </div>
        <!--parallax_inner--> 
      </div>
      <script src="js/main.js"></script>  
