 <!--=============
    Music Tracks
    ===============-->

    
    <section  class="track_section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="section_head_widget animatedParent ">
                <h2 class="animated fadeInLeft">poison Music</h2>
                <h5 class="animated bounceInRight">All Albums</h5>
              </div>
              <!--section_head_widget--> 
            </div>
          
          </div>
          <!--row-->
          <div class="row tracks_widget">
  
            <div class="animatedParent" style="min-height:auto"  *ngFor="let music of visibleMusic">
              <div style="float:left" class="col-sm-6 col-xs-6 track_box animated fadeInUp go">
                  <figure><img alt="" src="{{music.img}}">
                  </figure>
              </div>
              <div style="float:left" class="col-sm-6 col-xs-6">
              <div style="width:150px"  *ngFor="let musicDetail of music.musicList" >
                             <audio controls>
                                <source  src="{{musicDetail.url}}" type="audio/mp3" preload="metadata" >

                            Тег audio не поддерживается вашим браузером. 
                          </audio>
                       <div class="col-sm-4 col-xs-12" style="height: 80px;">
                       <a (click)="onSelect(music,musicDetail.musicText)" [class.selected]="music === selectedMusic">
                           <span class="badge">Текст песни</span>
                                                     </a> 
                         
                                                        
                         </div>
                         
               </div>
              </div>
               <div style="float:left" *ngIf="music === selectedMusic ">
                         
                                                  {{selectedText}} is my hero
                                                       
               </div>
              </div>
                                      
        
    
            <!--column-->
                
        </div>
     
        <div class="clearfix"></div>
        <!--=============================tracks-Details=========================-->
        <div class="trackLoading"><i class="fa fa-spin fa-refresh"></i></div>
        <section id="tracksAjaxWrapper" class="container">
        	<a class="closeTrackAjax" href="#section_5"><i class="fa fa-times"></i></a>
            <div id="tracksAjax" class="content_expander music_widget">
        	</div>
        </section>
        
        
        <!--//tracks-Details-->
              
        <div class="container">
          <ul class="channels_list row animatedParent ">
            <li class="col-xs-12 col-sm-4 animated fadeInLeft"><a href="#"><i class="fa fa-circular fa-music"></i>poison itunes</a></li>
            <li class="col-xs-12 col-sm-4 animated fadeInLeft"><a href="#"><i class="fa fa-soundcloud"></i>poison soundcloud</a></li>
            <li class="col-xs-12 col-sm-4 animated fadeInLeft"><a href="#"><i class="fa fa-youtube"></i>poison youtube</a></li>
          </ul>
       </div>
       </div>
       </section>

      
      
  <style id="jsbin-css">
audio::-webkit-media-controls-panel,
			audio::-webkit-media-controls-mute-button,
			audio::-webkit-media-controls-play-button,
			audio::-webkit-media-controls-timeline-container,
			audio::-webkit-media-controls-current-time-display,
			audio::-webkit-media-controls-time-remaining-display,
			audio::-webkit-media-controls-timeline,
			audio::-webkit-media-controls-volume-slider-container,
			audio::-webkit-media-controls-volume-slider,
			audio::-webkit-media-controls-seek-back-button,
			audio::-webkit-media-controls-seek-forward-button,
			audio::-webkit-media-controls-fullscreen-button,
			audio::-webkit-media-controls-rewind-button,
			audio::-webkit-media-controls-return-to-realtime-button,
			audio::-webkit-media-controls-toggle-closed-captions-button {
				background: yellow;
				color: yellow;
	
			}



    .popup-checkbox, .popup {
      display: none;
    }
    
    .popup {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
    
    .popup:before {
      display: block;
      content: ' ';
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: .5;
    }
    
    .popup-content {
      height:1100px;
      width:70%;
      position: absolute;
      z-index: 2;
      top: 470px;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      padding: 20px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    
    .popup-checkbox:checked + .popup {
      opacity: 1;
      display: block;
    }
    
    .popup-shower {
      color: #00f;
      cursor: pointer;
      text-decoration: underline;
    }
    
    .popup-shower:hover {
      color: #00a;
      text-decoration: underline;
    }
    
    .popup-closer {
      position: absolute;
      top: 5px;
      right: 5px;
      color: #999;
      font-size: 20px;
      border: 1px solid #999;
      display: block;
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
    }
    
    .popup-closer:hover {
      background-color: #eee;
    }
    </style>